    <div>
        <h4>{TOP-LABEL}</h4>
    </div>
    <div class="chart-wrapper" style="height: 70vh; width: 100%">
        <canvas id="graph_nuovi_positivi" ></canvas>
    </div>
    <script>

        // html object to fill with chart
        var gnp = document.getElementById("graph_nuovi_positivi");

        // data to use for chart
        var dataContent1 = [{DATA1}];
        var dataContent2 = [{DATA2}];
        var labelContent = [{LABELS}];

        var optionsContent = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                labels: {
                    boxWidth: 64,
                    usePointStyle: true,
                    padding: 32,
                    fontSize: 16
                },
            },
            elements: {
                line: {
                    tension: 0
                },
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        offsetGridLines: true,
                        color: 'rgb(64, 64, 64)'
                    }
                }],
                yAxes: [
                    {
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        gridLines: {
                            offsetGridLines: true,
                            color: 'rgb(44, 44, 44)'
                        }
                    }, {
                        id: 'B',
                        type: 'linear',
                        position: 'right',
                        gridLines: {
                            display: false,
                        },
                        ticks: {
                            fontColor: 'rgb(222, 222, 222)'
                        }
                    }
                ]
            }
        };

        
        Chart.defaults.global.elements.point.radius=4;
        //Chart.defaults.global.elements.point.backgroundColor = "rgb(54, 162, 235)";
        //Chart.defaults.global.legend = false;
        Chart.defaults.global.defaultFontColor = 'rgb(140, 140, 140)';
        var gnpChart = new Chart(gnp, {
            type: 'line',
            data: {
                labels: labelContent,
                datasets: [{
                    label:"Nuovi positivi",
                    data:dataContent1,
                    yAxisID: 'A',
                    borderColor:"rgb(54, 162, 235)",
                    pointBackgroundColor:"rgb(54, 162, 235)",
                    borderWidth:0
                }, {
                    label:"Tamponi",
                    data:dataContent2,
                    yAxisID: 'B',
                    borderColor:"rgb(222, 222, 222)",
                    pointBackgroundColor:"rgb(222, 222, 222)",
                    borderWidth:0
                }
              ]
            },
            options: optionsContent
        });

    </script>