<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html>
    <head>
        <title>Monitoraggio COVID Campania - {PAGE-TITLE}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" >
        <link rel="icon" type="image/png" href="images/favicon.png">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/roboto.css" />
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-grid.css" />
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-reboot.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap -->
        <link href="bootstrap/css/{BS-THEME}.css" rel="stylesheet">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #2C3E50; padding-top: 2px; padding-bottom: 2px;">
            <a class="navbar-brand" href="/">
                <img src="images/logo_navbar.png" width="30" height="30" class="d-inline-block align-top" alt="">
                COVID-CAMPANIA
            </a>
            <button class="navbar-toggler" type="button" 
                    data-toggle="collapse" data-target="#navbarNavDropdown" 
                    aria-controls="navbarNavDropdown" aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
                           href="#" id="navbarCampaniaLink" 
                           data-toggle="dropdown" 
                           aria-haspopup="true" 
                           aria-expanded="false">
                            Campania
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarCampaniaLink">
                            <a class="dropdown-item" href="./?p=main">Nuovi positivi</a>
                            <a class="dropdown-item" href="./?p=regional_trend">Andamento regionale</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./?p=districts">Province</a>
                    </li>

                </ul>
            </div>
        </nav> 
        
        <script src="js/Chart.bundle.js"></script>
        <div class="centerpage">
            
            <div class="container">
              {PAGE-CONTENT}
            </div>

        </div> <!-- centerpage -->
        
        
        <div class="container">
            <div>fonte dati: <a href="https://github.com/pcm-dpc">Dipartimento della Protezione Civile</a></div>
            <div style="height: 15px;"></div>
            <footer class="bs-footer footertext" role="contentinfo">
                <div style="display: inline-block;">
                    <table>
                        <tr>
                            <td><img src="images/logo_small.png" /></td>
                            <td style="padding-left: 36px; text-align: left">
                                Versione {RELEASE} - Armando Basile<br>
                                <small>tempo di generazione {GENERATION-TIME} sec.</small>
                            </td>
                        </tr>
                    </table>                
                </div>
            </footer>
        </div>
        
        <script src="bootstrap/js/bootstrap.bundle.js"></script>      
    </body>
</html>
